$small: 480px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1536px;

$dark-1: #24232a;
$dark-2: #14131a;
$dark-3: #09090d;
$light: #e5e5e8;
$primary: #a5ffaf;
$yellow: #f8cd65;
$red: #ed4545;
$orange: #e78443;
$green: #4eed53;

$font: monospace, sans-serif;

$transition: all 200ms ease-in-out;
